@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500");
@media (min-width: 960px) {
  /* line 29, ../../resources/sass/componentes/_vars.scss */
  .only-tablet {
    display: block;
  }
}

@media (min-width: 1248px) {
  /* line 35, ../../resources/sass/componentes/_vars.scss */
  .only-laptop {
    display: block;
  }
}

@media (min-width: 1600px) {
  /* line 41, ../../resources/sass/componentes/_vars.scss */
  .only-desk {
    display: block;
  }
}

/* line 1, ../../resources/sass/componentes/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../../resources/sass/componentes/_base.scss */
body {
  line-height: 1.7em;
  color: #343d3d;
  font-size: 13px;
  background: url("../images/ep_naturalwhite.png");
}

/* line 14, ../../resources/sass/componentes/_base.scss */
h1, h2, h3, h4, h5, h6, label {
  color: #2ecc71;
}

/* line 18, ../../resources/sass/componentes/_base.scss */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/* line 28, ../../resources/sass/componentes/_base.scss */
.footer {
  border-top: 20px solid #2ecc71;
  background-color: #1f1c1c;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 36, ../../resources/sass/componentes/_base.scss */
.footer .footer-box {
  display: inline-block;
  margin: 30px 20px 50px 20px;
  text-align: center;
  width: 300px;
  max-width: 300px;
}
/* line 43, ../../resources/sass/componentes/_base.scss */
.footer .footer-box .footer-info-box {
  display: inline-block;
  text-align: left;
}
/* line 47, ../../resources/sass/componentes/_base.scss */
.footer .footer-box .footer-info-box .info span {
  color: #fff;
}
/* line 52, ../../resources/sass/componentes/_base.scss */
.footer .footer-box .social-box .icon {
  width: 40px;
  height: 40px;
  margin: 20px 10px 0 10px;
}
/* line 59, ../../resources/sass/componentes/_base.scss */
.footer .nav-footer {
  list-style: none;
  padding: 0;
}
/* line 64, ../../resources/sass/componentes/_base.scss */
.footer .end-footer {
  display: inline-block;
  width: 100%;
  background-color: #111;
  line-height: 10px;
}
/* line 70, ../../resources/sass/componentes/_base.scss */
.footer .end-footer p {
  letter-spacing: 2px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, ../../resources/sass/componentes/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, ../../resources/sass/componentes/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, ../../resources/sass/componentes/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, ../../resources/sass/componentes/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, ../../resources/sass/componentes/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, ../../resources/sass/componentes/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, ../../resources/sass/componentes/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, ../../resources/sass/componentes/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, ../../resources/sass/componentes/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, ../../resources/sass/componentes/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, ../../resources/sass/componentes/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, ../../resources/sass/componentes/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, ../../resources/sass/componentes/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, ../../resources/sass/componentes/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, ../../resources/sass/componentes/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, ../../resources/sass/componentes/_normalize.scss */
small {
  font-size: 80%;
  font-size: 12px;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 180, ../../resources/sass/componentes/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 188, ../../resources/sass/componentes/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 192, ../../resources/sass/componentes/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 203, ../../resources/sass/componentes/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 212, ../../resources/sass/componentes/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 221, ../../resources/sass/componentes/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 229, ../../resources/sass/componentes/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 241, ../../resources/sass/componentes/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 257, ../../resources/sass/componentes/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 267, ../../resources/sass/componentes/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 278, ../../resources/sass/componentes/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 289, ../../resources/sass/componentes/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 301, ../../resources/sass/componentes/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 312, ../../resources/sass/componentes/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 323, ../../resources/sass/componentes/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 337, ../../resources/sass/componentes/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 346, ../../resources/sass/componentes/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 355, ../../resources/sass/componentes/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 365, ../../resources/sass/componentes/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 375, ../../resources/sass/componentes/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 384, ../../resources/sass/componentes/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 394, ../../resources/sass/componentes/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 407, ../../resources/sass/componentes/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 416, ../../resources/sass/componentes/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 427, ../../resources/sass/componentes/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 435, ../../resources/sass/componentes/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 446, ../../resources/sass/componentes/_normalize.scss */
[hidden] {
  display: none;
}

/* line 6, ../../resources/sass/componentes/_componentes.scss */
.container-header .hero .hero-head, .container-header-2 .hero .hero-head, .container-header-3 .hero .hero-head, .content-head {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  font-weight: bold;
  font-weight: 100;
  line-height: 1em;
  text-transform: uppercase;
}

/* line 15, ../../resources/sass/componentes/_componentes.scss */
.quote {
  font-size: 30px;
  line-height: 10em;
  padding: 0;
  margin: 0;
}
@media (max-width: 960px) {
  /* line 15, ../../resources/sass/componentes/_componentes.scss */
  .quote {
    line-height: 2em;
  }
}

/* line 26, ../../resources/sass/componentes/_componentes.scss */
.login-field .wrap .logo-kathbot, .column_main .logo-kathbot, .modal h2 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 30px;
}
/* line 35, ../../resources/sass/componentes/_componentes.scss */
.login-field .wrap .logo-kathbot small, .column_main .logo-kathbot small, .modal h2 small {
  font-size: 12px;
}
/* line 39, ../../resources/sass/componentes/_componentes.scss */
.login-field .wrap .logo-kathbot:hover, .column_main .logo-kathbot:hover, .modal h2:hover {
  color: #2ecc71;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/var/www/Chatbot/chatbot2.0/WebContent/assets/styles/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url(/var/www/Chatbot/chatbot2.0/WebContent/assets/styles/fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url(/var/www/Chatbot/chatbot2.0/WebContent/assets/styles/fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url(/var/www/Chatbot/chatbot2.0/WebContent/assets/styles/fonts/Oswald-Bold.ttf);
}
/* line 5, ../../resources/sass/componentes/_login.scss */
.login-field {
  font-family: 'Questrial', sans-serif;
}
/* line 8, ../../resources/sass/componentes/_login.scss */
.login-field .wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background: rgba(8, 38, 21, 0.85);
}
/* line 16, ../../resources/sass/componentes/_login.scss */
.login-field .wrap .password-remember {
  color: #fff;
  font-size: 13px;
  margin-top: -10px;
  letter-spacing: 1px;
  font-family: "Montserrat";
  text-decoration: none;
}
/* line 24, ../../resources/sass/componentes/_login.scss */
.login-field .wrap .password-remember:hover {
  color: #2ecc71;
}
/* line 33, ../../resources/sass/componentes/_login.scss */
.login-field .wrap .login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background-color: #fff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
/* line 43, ../../resources/sass/componentes/_login.scss */
.login-field .wrap .login .login-title {
  color: #2bc06a;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 0 0;
  padding-bottom: 20px;
  text-align: center;
  cursor: default;
  user-select: none;
}
/* line 54, ../../resources/sass/componentes/_login.scss */
.login-field .wrap .login .login-input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #313131;
}
/* line 64, ../../resources/sass/componentes/_login.scss */
.login-field .wrap .login .login-input:focus {
  opacity: 1;
  transition: all 0.25s ease-out;
  outline: none;
  color: #313131;
  border-color: #2ecc71;
}
/* line 71, ../../resources/sass/componentes/_login.scss */
.login-field .wrap .login .login-input:focus.wrong {
  color: #e74c3c;
  border-color: #e74c3c;
}
/* line 75, ../../resources/sass/componentes/_login.scss */
.login-field .wrap .login .login-input:focus.wrong::placeholder {
  color: #e74c3c;
  border-color: #e74c3c;
}
/* line 83, ../../resources/sass/componentes/_login.scss */
.login-field .wrap .login .remember {
  display: inherit;
  font-size: 0.8em;
  color: #2ecc71;
  text-decoration: none;
  margin: 0 0 10px 0;
}
/* line 91, ../../resources/sass/componentes/_login.scss */
.login-field .wrap .login .login-button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  background: #2ecc71;
  color: #1b7943;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20px;
  border: 0px solid #25a25a;
  border-bottom-width: 8px;
}

/* line 8, ../../resources/sass/componentes/_header.scss */
.navbar,
.nav-list,
.navbar.solid {
  transition: background-color 1s ease-out;
  will-change: background-color;
}

/* line 16, ../../resources/sass/componentes/_header.scss */
.navbar .nav-logo {
  vertical-align: middle;
}

/* line 21, ../../resources/sass/componentes/_header.scss */
.navbar.solid {
  background-color: #1f1c1c;
  opacity: .8;
}

@media (min-width: 768px) {
  /* line 28, ../../resources/sass/componentes/_header.scss */
  .container.menu-home {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  /* line 36, ../../resources/sass/componentes/_header.scss */
  .column_main {
    transition: .5s margin-left ease-out;
  }

  /* line 40, ../../resources/sass/componentes/_header.scss */
  .column_main.active {
    opacity: 1;
    transition: .5s margin-left ease-in;
  }

  /* line 44, ../../resources/sass/componentes/_header.scss */
  .column_main ul {
    list-style: none;
  }

  /* line 47, ../../resources/sass/componentes/_header.scss */
  .column_main ul li a {
    font-size: 20px;
    color: #25a25a;
    font-weight: 600;
    font-family: "Montserrat";
    text-transform: uppercase;
    text-decoration: none;
  }

  /* line 56, ../../resources/sass/componentes/_header.scss */
  .nav-logo.pure-menu-heading {
    position: absolute;
    top: 0;
    right: 0;
  }
}
/* line 64, ../../resources/sass/componentes/_header.scss */
.navbar .kathbot-logo-small {
  width: 50px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  filter: sepia(1);
}

/* line 73, ../../resources/sass/componentes/_header.scss */
.kathbot-logo {
  margin: 0 0;
  padding: 0;
  text-align: center;
  transition: filter .3s ease-out;
  filter: sepia(1);
}
/* line 80, ../../resources/sass/componentes/_header.scss */
.kathbot-logo img {
  cursor: pointer;
  width: 40%;
}
/* line 85, ../../resources/sass/componentes/_header.scss */
.kathbot-logo:hover {
  filter: sepia(0);
  transition: filter .3s ease-in;
}
/* line 90, ../../resources/sass/componentes/_header.scss */
.kathbot-logo figcaption {
  text-transform: uppercase;
  font-size: 40px;
  color: #25a25a;
  font-family: "Montserrat";
}

/* line 99, ../../resources/sass/componentes/_header.scss */
.home-menu {
  line-height: 3em;
  text-align: center;
  font: 20px "Montserrat";
  font-weight: bolder;
}
/* line 105, ../../resources/sass/componentes/_header.scss */
.home-menu li a:hover,
.home-menu li a:focus {
  background-color: transparent;
  color: #2cc46c;
  height: 100%;
}
/* line 112, ../../resources/sass/componentes/_header.scss */
.home-menu a {
  color: white;
}
/* line 117, ../../resources/sass/componentes/_header.scss */
.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
  margin-left: -12px;
}

/* line 125, ../../resources/sass/componentes/_header.scss */
.pure-menu.pure-menu-fixed {
  border-bottom: none;
  z-index: 4;
}

/* line 134, ../../resources/sass/componentes/_header.scss */
.container-header .image-autoplay .image-header {
  filter: brightness(0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 800px;
}
@media only screen and (max-width: 768px) {
  /* line 134, ../../resources/sass/componentes/_header.scss */
  .container-header .image-autoplay .image-header {
    height: 500px;
  }
}
/* line 148, ../../resources/sass/componentes/_header.scss */
.container-header .hero {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 157, ../../resources/sass/componentes/_header.scss */
.container-header .hero .hero-head {
  color: #ffae00;
}
/* line 162, ../../resources/sass/componentes/_header.scss */
.container-header .hero .hero-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

/* line 170, ../../resources/sass/componentes/_header.scss */
.container-header-2 {
  background-image: url("../images/user.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 614px;
}
/* line 178, ../../resources/sass/componentes/_header.scss */
.container-header-2 .hero {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 187, ../../resources/sass/componentes/_header.scss */
.container-header-2 .hero .hero-head {
  color: #ffae00;
}
/* line 192, ../../resources/sass/componentes/_header.scss */
.container-header-2 .hero .hero-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

/* line 200, ../../resources/sass/componentes/_header.scss */
.container-header-3 {
  background-image: url("../images/gerente.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 614px;
}
/* line 208, ../../resources/sass/componentes/_header.scss */
.container-header-3 .hero {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 217, ../../resources/sass/componentes/_header.scss */
.container-header-3 .hero .hero-head {
  color: #ffae00;
}
/* line 222, ../../resources/sass/componentes/_header.scss */
.container-header-3 .hero .hero-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

/* line 5, ../../resources/sass/componentes/_home.scss */
.quote {
  position: relative;
  background-color: #3b3a3ad1;
  border-bottom: 10px solid #2dac6c;
}
/* line 12, ../../resources/sass/componentes/_home.scss */
.quote .quote-text {
  text-align: center;
  color: #2dac6c;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* line 5, ../../resources/sass/componentes/_pure-objects.scss */
.content-wrapper {
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;
}

/* line 15, ../../resources/sass/componentes/_pure-objects.scss */
.content {
  padding: 1em 1em 1em;
}
@media (min-width: 1060px) {
  /* line 15, ../../resources/sass/componentes/_pure-objects.scss */
  .content {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    padding: 2em 16em;
  }
}

/* line 27, ../../resources/sass/componentes/_pure-objects.scss */
.content-head {
  color: #313131;
}

/* line 32, ../../resources/sass/componentes/_pure-objects.scss */
.content-head-ribbon {
  color: white;
}

/* line 36, ../../resources/sass/componentes/_pure-objects.scss */
.content-subhead {
  color: #2c3e50;
}
/* line 39, ../../resources/sass/componentes/_pure-objects.scss */
.content-subhead i {
  margin-right: 7px;
}

/* line 44, ../../resources/sass/componentes/_pure-objects.scss */
.l-box {
  padding: 1em;
}

/* line 48, ../../resources/sass/componentes/_pure-objects.scss */
.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 53, ../../resources/sass/componentes/_pure-objects.scss */
.is-center {
  text-align: center;
}

/* line 57, ../../resources/sass/componentes/_pure-objects.scss */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

/* line 63, ../../resources/sass/componentes/_pure-objects.scss */
.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}

@media (min-width: 20em) {
  /* line 78, ../../resources/sass/componentes/_pure-objects.scss */
  .pure-menu.pure-menu-fixed {
    display: none;
  }

  /* line 82, ../../resources/sass/componentes/_pure-objects.scss */
  .pure-menu-horizontal .pure-menu-list {
    padding: 4px;
  }
}
@media (min-width: 48em) {
  /* line 91, ../../resources/sass/componentes/_pure-objects.scss */
  body {
    font-size: 16px;
  }

  /* line 95, ../../resources/sass/componentes/_pure-objects.scss */
  .home-menu {
    text-align: left;
  }
  /* line 98, ../../resources/sass/componentes/_pure-objects.scss */
  .home-menu ul {
    float: right;
  }

  /* line 103, ../../resources/sass/componentes/_pure-objects.scss */
  .splash {
    width: 50%;
    height: 50%;
  }

  /* line 108, ../../resources/sass/componentes/_pure-objects.scss */
  .splash-head {
    font-size: 250%;
  }

  /* line 112, ../../resources/sass/componentes/_pure-objects.scss */
  .l-box-lrg {
    border: none;
  }

  /* line 116, ../../resources/sass/componentes/_pure-objects.scss */
  .pure-menu.pure-menu-fixed {
    display: inline-block;
    border-bottom: none;
    z-index: 4;
    padding: 0px 50px 0 50px;
  }

  /* line 123, ../../resources/sass/componentes/_pure-objects.scss */
  .pure-menu-horizontal .pure-menu-list {
    padding: 4px;
  }
}
@media (min-width: 48em) {
  /* line 132, ../../resources/sass/componentes/_pure-objects.scss */
  .home-menu .pure-menu-heading {
    display: inline-block;
  }
}
/* line 5, ../../resources/sass/componentes/_funcionario.scss */
.fixed {
  overflow-y: hidden !important;
  position: relative;
}

/* line 10, ../../resources/sass/componentes/_funcionario.scss */
#container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 17, ../../resources/sass/componentes/_funcionario.scss */
.column_main {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 300px;
  background-color: #113c43;
  color: #fff;
}
/* line 27, ../../resources/sass/componentes/_funcionario.scss */
.column_main .logo-kathbot {
  margin: 0 70px 0 70px;
  cursor: pointer;
}
/* line 33, ../../resources/sass/componentes/_funcionario.scss */
.column_main ul {
  padding-top: 10px;
  width: 100%;
  padding: 20px;
}
/* line 40, ../../resources/sass/componentes/_funcionario.scss */
.column_main li {
  border-bottom: 1px solid #195964;
  padding: 15px;
}
/* line 44, ../../resources/sass/componentes/_funcionario.scss */
.column_main li a {
  display: block;
  color: #fff;
}

/* line 52, ../../resources/sass/componentes/_funcionario.scss */
.box_info {
  padding: 8% 8% 8% 8%;
  background-color: #2ecc71;
  overflow: hidden;
  border-bottom: 10px solid #25a25a;
}

/* line 59, ../../resources/sass/componentes/_funcionario.scss */
.image_fun {
  max-width: 150px;
  margin: 0 auto;
  padding-bottom: 10px;
}
/* line 64, ../../resources/sass/componentes/_funcionario.scss */
.image_fun img {
  border-radius: 50%;
  width: 100%;
  height: 150px;
  background-color: #fff;
}
/* line 70, ../../resources/sass/componentes/_funcionario.scss */
.image_fun img:hover {
  opacity: 0.5;
}

/* line 76, ../../resources/sass/componentes/_funcionario.scss */
.icon_closeMain {
  display: none;
  position: absolute;
  right: 20px;
  top: 15px;
}
/* line 82, ../../resources/sass/componentes/_funcionario.scss */
.icon_closeMain a {
  color: #007239;
}

/* line 88, ../../resources/sass/componentes/_funcionario.scss */
.column_principal {
  float: right;
  overflow: hidden;
  width: calc(100% - 300px);
  padding: 2% 2% 0 2%;
  position: relative;
  box-shadow: inset 3px 0px 20px 0px;
  min-height: 100vh;
  background-color: #f1f1f1;
}

/* line 98, ../../resources/sass/componentes/_funcionario.scss */
.column_principal h1 {
  text-align: center;
}

/* line 101, ../../resources/sass/componentes/_funcionario.scss */
.content_chart {
  padding-top: 50px;
  display: table;
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-flow: row wrap;
}

/* line 110, ../../resources/sass/componentes/_funcionario.scss */
.content_chart canvas {
  max-width: 400px;
}

/* line 113, ../../resources/sass/componentes/_funcionario.scss */
.box_chart {
  flex: 0;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* line 122, ../../resources/sass/componentes/_funcionario.scss */
.container_chat {
  max-width: 400px;
  width: 100%;
  height: initial;
  position: fixed;
  right: 0;
  bottom: 0;
  display: none;
  overflow: hidden;
  z-index: 7;
  transition: transform ease-in 3s;
}
@media (max-width: 960px) {
  /* line 122, ../../resources/sass/componentes/_funcionario.scss */
  .container_chat {
    max-width: 100%;
  }
}

/* line 138, ../../resources/sass/componentes/_funcionario.scss */
.container_chat.active {
  display: block;
  transition: transform ease-in 3s;
}

/* line 142, ../../resources/sass/componentes/_funcionario.scss */
.container_chat.expand {
  height: 100%;
}

/* line 145, ../../resources/sass/componentes/_funcionario.scss */
.container_chat header {
  padding: 2.5%;
  background-color: #2c3e50;
  font-family: "Montserrat";
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
  border-bottom: 5px solid #29b765;
}

/* line 154, ../../resources/sass/componentes/_funcionario.scss */
.container_chat header span {
  padding: 0 5px;
  font-weight: bold;
}

/* line 158, ../../resources/sass/componentes/_funcionario.scss */
.container_chat header .item_id {
  border-left: 1px solid;
  padding-left: 8px;
}

/* line 162, ../../resources/sass/componentes/_funcionario.scss */
.container_chat header .icon_close {
  display: inline;
}

/* line 166, ../../resources/sass/componentes/_funcionario.scss */
.icon_close a {
  color: #049a4f;
  display: table;
  float: right;
  font-size: 20px;
  padding-right: 5px;
}

/* line 173, ../../resources/sass/componentes/_funcionario.scss */
.icon_close a:hover {
  font-size: 20px;
  color: #e74c3c;
}

/* line 177, ../../resources/sass/componentes/_funcionario.scss */
.content_messages.expand {
  display: block;
}

/* line 180, ../../resources/sass/componentes/_funcionario.scss */
.content_messages {
  background-color: #efefef;
  height: calc(100% - 110px);
  padding: 4%;
  display: none;
  overflow-y: auto;
  margin-bottom: 30px;
}

/* line 188, ../../resources/sass/componentes/_funcionario.scss */
.content_area.expand {
  display: block;
}

/* line 191, ../../resources/sass/componentes/_funcionario.scss */
.content_area {
  background-color: #f4f4f4;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 13px 8px;
  display: none;
}

/* line 199, ../../resources/sass/componentes/_funcionario.scss */
.box_area {
  display: flex;
  -webkit-box-shadow: 0px 2px 6px 0px #b0b0b0;
  -moz-box-shadow: 0px 2px 6px 0px #b0b0b0;
  box-shadow: 0px 2px 6px 0px #b0b0b0;
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  height: 50px;
  position: relative;
}
/* line 211, ../../resources/sass/componentes/_funcionario.scss */
.box_area:before {
  background-color: #2c3e50;
  display: block;
  width: 50px;
  content: '';
}
/* line 218, ../../resources/sass/componentes/_funcionario.scss */
.box_area .input-box {
  border: none;
  width: calc(100% - 120px);
  margin-left: 10px;
  outline: none;
}

/* line 225, ../../resources/sass/componentes/_funcionario.scss */
.content_area textarea {
  width: calc(100% - 35px);
  resize: none;
  outline: none;
  border: none;
  padding: 3.5%;
  height: 40px;
  border-radius: 8px;
}

/* line 234, ../../resources/sass/componentes/_funcionario.scss */
.main_options {
  display: inline;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 241, ../../resources/sass/componentes/_funcionario.scss */
.main_options .btn-enviar {
  border: none;
  background-color: #2ecc71;
  padding: 0;
  text-transform: uppercase;
  color: #e9e9e9;
  font-weight: bolder;
  line-height: 50px;
  margin: -10% -10px 0px 0px;
  text-align: center;
  width: 100px;
}
/* line 253, ../../resources/sass/componentes/_funcionario.scss */
.main_options .btn-enviar:hover {
  background-color: #29b765;
}

/* line 260, ../../resources/sass/componentes/_funcionario.scss */
.message {
  -webkit-box-shadow: 0px 2px 6px 0px #b0b0b0;
  -moz-box-shadow: 0px 2px 6px 0px #b0b0b0;
  box-shadow: 0px 2px 6px 0px #b0b0b0;
  padding: 2%;
  margin-bottom: 1.0rem !important;
  display: block;
  margin: 5px;
}
/* line 271, ../../resources/sass/componentes/_funcionario.scss */
.message .content_buttons .btn.btn-warning.nao,
.message .content_buttons .btn.btn-success.sim {
  outline: none;
}
/* line 274, ../../resources/sass/componentes/_funcionario.scss */
.message .content_buttons .btn.btn-warning.nao:hover,
.message .content_buttons .btn.btn-success.sim:hover {
  background-color: #2c3e50;
  color: white;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1), 0 10px 14px rgba(0, 0, 0, 0.05);
}
/* line 282, ../../resources/sass/componentes/_funcionario.scss */
.message .content_buttons .btn.btn-success.sim,
.message .content_buttons .btn.btn-warning.nao {
  border: none;
  background-color: #29b765;
  color: white;
  padding: 5px;
  font-size: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 0 10px 0 0;
}

/* line 297, ../../resources/sass/componentes/_funcionario.scss */
.message.received {
  background-color: rgba(0, 184, 156, 0.1);
  border-radius: 10px;
  margin-left: 30%;
}

/* line 317, ../../resources/sass/componentes/_funcionario.scss */
.message.sent {
  background-color: #fff;
  border-radius: 0px 10px 10px 10px;
  margin-right: 25%;
}
/* line 337, ../../resources/sass/componentes/_funcionario.scss */
.message.sent .kathbot-msg {
  position: absolute;
  right: 18px;
  top: 98px;
  text-decoration: none;
}
/* line 343, ../../resources/sass/componentes/_funcionario.scss */
.message.sent .kathbot-msg i {
  text-transform: uppercase;
  color: #fff;
  background-color: #e91e63;
  font-size: 14px;
  font-style: normal;
  padding: 5px;
  border-radius: 10px;
  font-family: "Montserrat";
  box-shadow: 0px 2px 6px 0px #38313180;
}
/* line 355, ../../resources/sass/componentes/_funcionario.scss */
.message.sent .disable {
  opacity: 0.5;
  pointer-events: none;
}

/* line 360, ../../resources/sass/componentes/_funcionario.scss */
.box_view {
  overflow-y: auto;
}

/* line 363, ../../resources/sass/componentes/_funcionario.scss */
.icon_chat {
  position: fixed;
  display: none;
  font-size: 25px;
  right: 20px;
  bottom: 20px;
}

/* line 371, ../../resources/sass/componentes/_funcionario.scss */
.icon_chat a {
  color: #2ecc71;
}

/* line 374, ../../resources/sass/componentes/_funcionario.scss */
.icon_chat a:hover {
  color: #25a25a;
}

/* line 378, ../../resources/sass/componentes/_funcionario.scss */
.icon_chat.active {
  display: block;
}

/* line 381, ../../resources/sass/componentes/_funcionario.scss */
.icon_main {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* line 385, ../../resources/sass/componentes/_funcionario.scss */
  .column_main {
    margin-left: -300px;
  }

  /* line 388, ../../resources/sass/componentes/_funcionario.scss */
  .column_main.active {
    margin-left: 0px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
  }

  /* line 396, ../../resources/sass/componentes/_funcionario.scss */
  .column_principal {
    width: 100%;
  }

  /* line 399, ../../resources/sass/componentes/_funcionario.scss */
  .icon_main {
    display: block;
    background-color: #2c3e50;
    padding: 2.5% 5%;
  }

  /* line 404, ../../resources/sass/componentes/_funcionario.scss */
  .icon_main a {
    font-size: 25px;
    color: #fff;
  }

  /* line 408, ../../resources/sass/componentes/_funcionario.scss */
  .icon_main a:hover {
    font-size: 26px;
    color: #25a25a;
  }

  /* line 412, ../../resources/sass/componentes/_funcionario.scss */
  .overlay.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    cursor: pointer;
  }

  /* line 422, ../../resources/sass/componentes/_funcionario.scss */
  .icon_closeMain {
    display: block;
  }

  /* line 426, ../../resources/sass/componentes/_funcionario.scss */
  .container_chat.expand {
    height: calc(100vh - 56px);
    max-width: initial;
    border-top: 1px solid #fff;
  }
}
/* line 434, ../../resources/sass/componentes/_funcionario.scss */
.box_title {
  position: relative;
  display: table;
  margin: 0 auto;
}

/* line 440, ../../resources/sass/componentes/_funcionario.scss */
.box_title h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  color: #113c43;
}

/* line 446, ../../resources/sass/componentes/_funcionario.scss */
#line::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  right: -100px;
  background-color: #113c43;
  z-index: 4;
}

/* line 458, ../../resources/sass/componentes/_funcionario.scss */
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

/* line 465, ../../resources/sass/componentes/_funcionario.scss */
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* line 470, ../../resources/sass/componentes/_funcionario.scss */
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 472, ../../resources/sass/componentes/_funcionario.scss */
#customers tr:hover {
  background-color: #ddd;
}

/* line 474, ../../resources/sass/componentes/_funcionario.scss */
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #113c43;
  color: white;
}

/* line 1, ../../resources/sass/componentes/_wisper.scss */
.wisper {
  display: none;
  position: fixed;
  font-size: 25px;
  right: 20px;
  bottom: 80px;
  max-width: 100%;
  width: 240px;
  height: 110px;
  background-color: #2ecc71;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 0px #020202;
  cursor: default;
}
/* line 16, ../../resources/sass/componentes/_wisper.scss */
.wisper.active {
  display: block;
}
/* line 20, ../../resources/sass/componentes/_wisper.scss */
.wisper h2 {
  color: #36433d;
  font-family: inherit;
  line-height: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 28, ../../resources/sass/componentes/_wisper.scss */
.wisper .area-botao {
  background-color: #313131;
  line-height: 45px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 35, ../../resources/sass/componentes/_wisper.scss */
.wisper .btn-comecar {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 18px;
  color: #fff;
}

/* line 2, ../../resources/sass/componentes/_modal.scss */
.overlay .mask {
  display: block;
}
/* line 5, ../../resources/sass/componentes/_modal.scss */
.overlay .modal {
  display: block;
}
/* line 8, ../../resources/sass/componentes/_modal.scss */
.overlay .container_control {
  -webkit-filter: blur(12px);
  /* Safari */
  filter: blur(12px);
}

/* line 14, ../../resources/sass/componentes/_modal.scss */
.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

/* line 24, ../../resources/sass/componentes/_modal.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  left: 0;
  background-color: #2ecc71;
  width: 400px;
  line-height: 60px;
  text-align: center;
  box-shadow: 0px 2px 6px 0px #020202;
  height: auto;
  max-height: 200px;
}
/* line 41, ../../resources/sass/componentes/_modal.scss */
.modal.active {
  display: block;
}
/* line 45, ../../resources/sass/componentes/_modal.scss */
.modal h2 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
/* line 51, ../../resources/sass/componentes/_modal.scss */
.modal h2:hover {
  color: white;
  cursor: default;
}
/* line 57, ../../resources/sass/componentes/_modal.scss */
.modal p {
  color: #3b3a3a;
  font-size: 18px;
  margin-top: -10px;
}
/* line 63, ../../resources/sass/componentes/_modal.scss */
.modal .area-botao {
  background-color: #3b3a3a;
  line-height: 80px;
}
/* line 67, ../../resources/sass/componentes/_modal.scss */
.modal .area-botao button {
  border: none;
  background-color: #3b3a3a;
  border: 1px solid #fff;
  color: #fff;
  margin: 0 10px 0 10px;
  font-size: 22px;
  line-height: 40px;
  width: 110px;
}
/* line 77, ../../resources/sass/componentes/_modal.scss */
.modal .area-botao button:hover {
  background-color: #fff;
  color: #3b3a3a;
}

/* line 87, ../../resources/sass/componentes/_modal.scss */
.content_area.expand .tooltip-text {
  position: absolute;
  bottom: 70px;
  left: 20px;
  background-color: #555;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  transition: opacity 0.3s;
  opacity: 0;
}
/* line 100, ../../resources/sass/componentes/_modal.scss */
.content_area.expand .tooltip-text.active {
  opacity: 1;
}
/* line 104, ../../resources/sass/componentes/_modal.scss */
.content_area.expand .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* line 117, ../../resources/sass/componentes/_modal.scss */
.content_area.expand .box_area .btn-exit {
  display: block;
  position: absolute;
  color: white;
  top: 12px;
  font-size: 25px;
  left: 15px;
  cursor: pointer;
}

/* line 4, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos {
  margin-bottom: 40px;
  margin-top: 40px;
}
/* line 8, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 13, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards .card {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0 30px 0 30px;
}
/* line 15, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards .card.diario {
  background-color: #90ce75;
  transition: all 0.2s ease-in;
}
/* line 18, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards .card.diario:hover {
  background-color: #6ab04c;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;
}
/* line 25, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards .card.semanal {
  background-color: #bdc3c7;
  transition: all 0.2s ease-in;
}
/* line 28, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards .card.semanal:hover {
  background-color: #95a5a6;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;
}
/* line 35, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards .card.mensal {
  background-color: #1abc9c;
  transition: all 0.2s ease-in;
}
/* line 38, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards .card.mensal:hover {
  background-color: #16a085;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;
}
/* line 45, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards .card .card-box {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  align-items: center;
  line-height: 100px;
}
/* line 52, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards .card .card-box h2 {
  color: #fff;
  text-transform: uppercase;
  font: 20px/3 "Montserrat";
  font-weight: bold;
  letter-spacing: 2px;
}
/* line 60, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .cards .card .card-box p {
  font-size: 50px;
  color: #4d4848;
}
/* line 73, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .reload {
  position: relative;
}
/* line 76, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .atendimentos .reload .btn-reload {
  position: absolute;
  top: -40px;
  right: 70px;
  color: #39b8ce;
  font-size: 25px;
  cursor: pointer;
}
/* line 89, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .tabela-relatorio .datepicker {
  float: right;
  margin-bottom: 5px;
}
/* line 94, ../../resources/sass/componentes/_relatorios.scss */
.column_principal .tabela-relatorio h2 {
  font: 20px/3 "Montserrat";
  color: #313131;
}
