
//-----------------------
// Componentes
//-----------------------

%banner-text {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    font-weight: bold;
    font-weight: 100;
    line-height: 1em;
    text-transform: uppercase;
}

%quote-section{
    font-size: 30px;
    line-height: 10em;
    padding: 0;
    margin: 0;

    @media (max-width: 960px) {
        line-height: 2em; 
    }
}

%logo-kathbot{
    color: #fff;
    text-transform: uppercase;
    font-family: $n-regular;
    font-weight: 100;
    font-size: 28px;
    text-decoration: none;
    margin-bottom: 30px;

    small{
        font-size: 12px;
    }

    &:hover{
        color: $primary;
    }
}

