//---------------------------------
// Fontes do projeto
//---------------------------------

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500');

@font-face {
    font-family: 'Montserrat';
    src: url(/var/www/Chatbot/chatbot2.0/WebContent/assets/styles/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url(/var/www/Chatbot/chatbot2.0/WebContent/assets/styles/fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url(/var/www/Chatbot/chatbot2.0/WebContent/assets/styles/fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url(/var/www/Chatbot/chatbot2.0/WebContent/assets/styles/fonts/Oswald-Bold.ttf);
}