//=================================
// Elements
//=================================
    
.quote{
    @extend %quote-section;
    position: relative;    
    
    background-color: #3b3a3ad1;
    border-bottom: 10px solid #2dac6c;

    .quote-text{
        text-align: center;
        color: #2dac6c;
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}