//=================================
// Elements
//=================================
    
.quote{
    @extend %quote-section;
    position: relative;    
    
    .quote-image{
        width: 100%;
        height: 300px;
        filter: brightness(.6);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        z-index: -1;
    }

    .quote-text{
        text-align: center;
        color: $yellow;
    }
}