
// .overlay{
//     position: fixed;
//     overflow: hidden;
//     width: 1351px;
//     top: -1px;
//     z-index: -1;
//     filter: brightness(.2);
//     opacity: 0;

//     &.active{
//         opacity: 1;
//         position: relative;
//         overflow: none;
//         width: auto;
//         top: 0;
//         z-index: none;
//         filter: none;
//     }
// }

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 36%;
    right: 40%;
    background-color: $primary;
    width: 400px;
    line-height: 60px;
    text-align: center;
    box-shadow: 0px 2px 6px 0px #020202;

    &.active{
        display: block;
    }

    h2{
        @extend %logo-kathbot;
        margin: 0;
        padding: 0;
        margin-top: 10px;

        &:hover{
           color: white;
           cursor: default;
        }
    }

    p{
        color: #3b3a3a;
        font-size: 18px;
        margin-top: -10px;
    }

    .area-botao{
        background-color:#3b3a3a;
        line-height: 80px;

        button{
            border: none;
            background-color:#3b3a3a;
            border: 1px solid #fff;
            color: #fff;
            margin: 0 10px 0 10px;
            width: 60px;
            line-height: 40px;

            &:hover{
                background-color: #fff;
                color: #3b3a3a; 
            }
        }
    }
}

.content_area.expand{

    .tooltip-text{
        position: absolute;
        bottom: 70px;
        left: 20px;
        background-color: #555;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        transition: opacity 0.3s;
        opacity: 0;

        &.active{
            opacity: 1;
        }

        &::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 10%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
    }

    .box_area{
        .btn-exit{
            display: block;
            position: absolute;
            color: white;
            top: 12px;
            font-size: 25px;
            left: 15px;
            cursor: pointer;
        }    
    }
}
