* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: #343d3d;
    font-size: 13px;
}

h1,h2,h3,h4,h5,h6, label {
    color: $primary;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
    background: url("../images/intersection.png");
}