
//-----------------------
// Import de Componentes
//-----------------------

%banner-text {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    font-weight: bold;
    font-weight: 100;
    line-height: 1em;
    text-transform: uppercase;
}

%quote-section{
    width: 100%;
    border-bottom: 20px solid darken($primary, 10);
    background-color: $primary;
    color: darken( $primary, 20 );
    font-size: 30px;
    line-height: 5em;
    text-align: center;
    padding: 0;
    margin: 0;

    @media (max-width: 960px) {
        line-height: 2em; 
    }
}

