

.navbar,
.nav-list,
.navbar.solid{
    transition: background-color 1s ease-out;
    will-change: background-color;    
}

.navbar{
    .nav-logo{
        vertical-align: middle;
    }
}

.navbar.solid {
    background-color: #1f1c1c;
    opacity: .8;
}