
.login-field{
    font-family: 'Questrial', sans-serif;

    .wrap {
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        min-height: 100%;
        width: 100%;
        background: rgba(darken($primary,40%), 0.85);
  
        .login {
            border-radius: 2px 2px 5px 5px;
            padding: 10px 20px 20px 20px;
            width: 90%;
            max-width: 320px;
            background: #fff;
            position: relative;
            padding-bottom: 80px;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.3);

            .login-title {
                color: #444;
                font-size: 1.2em;
                font-weight: bold;
                margin: 10px 0 30px 0;
                border-bottom: 1px solid #cacaca;
                padding-bottom: 20px;
                text-align: center;
            }

            .login-input {
                display: block;
                padding: 15px 10px;
                margin-bottom: 10px;
                width: 100%;
                border: 1px solid #ddd;
                transition: border-width 0.2s ease;
                border-radius: 2px;
                color: #ccc;

                &:focus {
                    opacity: 1;
                    left: 30px;
                    transition: all 0.25s ease-out;
                    outline: none;
                    color: #444;
                    border-color: $primary;
                    border-left-width: 35px;
                }
            }

            .remember, 
            .password-remember {
                display: inherit;
                font-size: 0.8em;   
                color: $primary;
                text-decoration: none;
            }

            .login-button {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                line-height: 60px;
                text-align: center;
                text-decoration: none;
                background: $primary;
                color: #fff;
                margin-top: 20px;
                border: 0px solid darken($primary, 10);
                border-bottom-width: 8px;
            }
        }
    }    
}

