
//---------------------------------
// Variáveis
//---------------------------------


// Fontes
$n-regular: 'Montserrat';
$q-regular: 'Questrial';

// Cores
$nav-color: transparentize(rgba(3, 47, 114, 0.5), 0.1);
$primary: #05cc68;
$secondary: #181312;
$nav-font-hover: #fff; 

// Quebras
$tablet-width: 960px;
$laptop-width: 1248px;
$desktop-width: 1600px;


// Media Queries

.only-tablet{  
  @media (min-width: 960px) {
      display: block;  
  } 
}

.only-laptop{  
    @media (min-width: 1248px) {
        display: block;  
    } 
}

.only-desk{  
  @media (min-width: 1600px) {
      display: block;  
  } 
}


// Mixins
@mixin tablet {
    @media (min-width: #{$tablet-width}) {
      @content;
  }
}

@mixin laptop {
    @media (min-width: #{$laptop-width}) {
      @content;
  }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
  }
}


